@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.custom-prose-styles h1 {
  font-size: 2em;
  font-weight: bold;
}

.custom-prose-styles h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.custom-prose-styles h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.custom-prose-styles p {
  font-size: 1em;
}
